{% extends "base.html" %}

{% block title %} Tüm Öğrenciler {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>öğrenci not bilgileri</title>
</head>
<body>
    <h1>öğrenci not bilgileri</h1>
    <table border ="1">
        <tr>
            <th>not id</th>
            <th>öğrenci id</th>
            <th>ders id</th>
            <th>puan</th>
        </tr>
        {% for öğrenci in notlar %}
            <tr>
                <td>{{ öğrenci[0] }}</td>
                <td>{{ öğrenci[1] }}</td>
                <td>{{ öğrenci[2] }}</td>
                <td>{{ öğrenci[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock %}
